#card {
	width: 18rem;
	margin: 1.5rem;
	display: inline-block;
}
#card .doctor {
	background-color: var(--bgColor2);
}

#card .appointment-addcard:hover {
	opacity: 1;
	transform: scale(1.12);
	transition-duration: 0.25s;
}
.cases-card {
	font-size: 75%;
	border-radius: 30px;
	border: solid 1px var(--bgColor2);
	background-color: var(--bgColor11);
	color: black;
	/* display: inline-block; */

	cursor: pointer;
	opacity: 0.9;
}
.cases-card:hover {
	opacity: 1;
	transform: scale(1.05);
	transition-duration: 0.25s;
}
.doctor-card {
	border-radius: 30px;
	border: solid 1px var(--bgColor2);
	background-color: var(--bgColor11);
	color: black;
	cursor: pointer;
	opacity: 0.9;
}
.doctor-card:hover {
	opacity: 1;
	transform: scale(1.05);
	transition-duration: 0.25s;
}
.doctor-card > .card-body > .card-title > span > img {
	width: 50px;
	height: 50px;
}
#card .appointment:hover {
	opacity: 1;
	transform: scale(1.05);
	transition-duration: 0.25s;
}
#card .records {
	background-color: rgb(123, 228, 241);
}
#card .records:hover {
	transform: scale(1.05);
}
.card-text {
	font-size: 16px;
}
.card-header {
	font-size: 20px;
}
