@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

body {
	background: rgb(180, 232, 233);
	/* background: linear-gradient(
		135deg,
		rgb(180, 245, 226) 0%,
		rgb(172, 240, 155) 100%
	); */
	font-family: "work sans";
}
.navbar {
	background-color: rgb(134, 233, 235);
}
#card {
	width: 18rem;
	margin: 1.5rem;
	display: inline-block;
}
#card .doctor {
	background-color: rgb(123, 228, 241);
}
#card .appointment-addcard {
	font-size: 75%;
	background-color: rgb(123, 228, 241);
	color: black;
	/* display: inline-block; */

	cursor: pointer;
	opacity: 0.9;
}
#card .appointment-addcard:hover {
	opacity: 1;
	transform: scale(1.12);
	transition-duration: 0.25s;
}
#card .appointment {
	height: 20rem;
	font-size: 75%;
	background-color: rgb(123, 228, 241);
	color: black;
	/* display: inline-block; */

	cursor: pointer;
	opacity: 0.8;
}
#card .appointment:hover {
	opacity: 0.9;
	transform: scale(1.05);
	transition-duration: 0.25s;
}
#card .records {
	background-color: rgb(123, 228, 241);
}
#card .records:hover {
	transform: scale(1.05);
}
.card-text {
	font-size: 16px;
}
.card-header {
	font-size: 20px;
}
.modal-header {
	background-color: rgb(99, 226, 243);
}
.modal-body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(164, 231, 240);
}
.availability {
	margin: auto;
	text-align: center;
	padding: 10px;
}

.availability form {
	margin: 0 auto;
	max-width: 320px;
	width: 75%;
}
html {
	font-size: 100%;
}
