@media all {
	.AddCard {
		cursor: pointer;
		opacity: 0.9;
		transform: scale(1.1);
	}
	.AddCard:hover{
		opacity: 1;
		transform: scale(1.12);
		transition-duration: 0.25s;
	}
	.Card {
		cursor: pointer;
		opacity: 0.6;
	}
	.Card:hover {
		opacity: 0.75;
		transform: scale(1.05);
		transition-duration: 0.25s;
	}
}
